// Accordion basic
.md-accordion {
  .card {
    box-shadow: none;
    border-bottom: 1px solid $mdb-color-lighten-6;
    border-radius: 0;
    @media(max-width: 991px) {
      width: 100%;
    }
    &:first-of-type,
    &:not(:first-of-type):not(:last-of-type) {
      border-bottom: 1px solid $mdb-color-lighten-6;
    }
    &:first-of-type {
      border-top: 1px solid $mdb-color-lighten-6;
    }
    .card-header {
      border-bottom: 0;
      padding: $accordion-card-header-padding-y;
      background: transparent;
      
      .card-title {
        font-weight: 400;
      }
      a {
        font-family: "OpenSans", sans-serif;
        transition: $accordion-link-hover-transition;
        font-size: 18px;
        color: $grey-darken-5 !important;
        @media(max-width: 480px) {
          font-size: $navbar-double-font-size;
        }
        i {
          color: $cloud-blue-base;
          font-size: 25px;
        }
      }
      a:not(.collapsed) {
        .rotate-icon {
          transform: $accordion-rotate-icon-transform;
        }
      }
    }
    .fa-angle-down {
      float: right;
    }
    .card-body {
      font-family: "OpenSansLight", sans-serif;
      font-size: 16px;
      line-height: $accordion-card-body-line-height;
      font-weight: 300;
      color: $grey-darken-5;
      ul {
        li {
          font-family: "OpenSansLight", sans-serif !important;
          font-size: 16px !important;
        }
        
      }
    }
  }
}
